<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- footer.html 연결  -->
	<div th:replace="~{/layout/header::header-fragment}"></div>
	<div id="container">
	   <section id="main">
		<h1>MyHome에 오셨습니다...</h1>
		<div class="main_img">
	    	<img th:src="@{/images/1.jpg}" alt="theater">
	    </div>
	  </section>
	</div>
	<!-- footer.html 연결  -->
	<div th:replace="~{/layout/footer::footer-fragment}"></div>
</body>
</html>